<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holistic Healthcare System</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="about-container">
        <h1>About Us</h1>
        <p>Welcome to Holistic Healthcare System, your trusted partner in health prediction and management. We are dedicated to leveraging cutting-edge technology and data analysis to provide accurate predictions and personalized insights for various diseases.</p>
        <p>Our mission is to empower individuals to take control of their health by providing them with timely information and guidance. Through continuous research and innovation, we strive to make healthcare more accessible and effective for everyone.</p>
        <p>At Holistic Healthcare System, we believe in the power of prevention and early detection. By detecting health issues at an early stage, we can improve treatment outcomes and enhance overall well-being.</p>
        <p>Thank you for choosing Holistic Healthcare System. Together, we can build a healthier future.</p>
    </div>

    <footer>
        <p>&copy; 2024 Holistic Healthcare System</p>
    </footer>
</body>
</html>