<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holistic Healthcare System</title>
    <link rel="stylesheet" href="otherStyles.css">
</head>

<body>
    <h2>Past Predictions</h2>
    <span id="info"></span>
    <table id="data-table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Disease</th>
            <th>Parameters</th>
            <th>Prediction Result</th>
        </tr>
    </table>

</body>
<script src="app.js"></script>
<script>
    window.onload = getPredictions();
</script>

</html>
